# Защита .env
<Files ".env">
    Order allow,deny
    Deny from all
</Files>

# Защита конфигов
<FilesMatch "^(config|db|functions)\.php$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Защита папок
Options -Indexes

# Редирект на HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Роутинг через index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

php_value date.timezone Asia/Almaty
